.topbar {
    background-color: #CF102D;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
    font-family: serif;
    text-align: center;
    float: right;
    position: fixed;
    z-index: 2
}


.container {
    position: relative;
    width: 50%;
}

.container .play {
    position: absolute;
    left: 100%;
    top: 50%;
    background-color: #FFCD23;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: fantasy;
}

.container img {
    max-width: 200%;
    height: auto;
    filter: blur(10px);
}