
#picker div {
    position: fixed;
    left: 5%; 
    bottom: 5%;
    width: 200px;
    height:200px;
    background-color:lightblue;
    padding: 5px;
}

#picker button {
    position: fixed;
    left: 20%; 
    bottom: 5%;
    width: 100px;
    height:50px;
    background-color:lightblue;
    padding: 5px;
}
